<div class="event" [ngClass]="{'long-event': event.periods.start}">

  <div *ngIf="event.periods.start" class="periods">

    {{event.periods.start | date:'MM/y' | lowercase}} - {{event.periods.end | date:'MM/y'}}
    <span class="spent-time">
        <span *ngIf="duration.years > 0">{{duration.years}} year(s) </span>
        <span *ngIf="duration.months > 0">{{duration.months}} month(s)</span>
    </span>
  </div>
  <div *ngIf="!event.periods.start" class="periods">
    {{event.periods.end | date:'y'}}
  </div>
  <div class="separator">
    <i class="fa fa-caret-right fa-lg"></i>
  </div>
  <div class="title">
    <span class="item-title">
      {{event.title}}
    </span>
    <span class="item-content">
      {{event.content}}
    </span>
  </div>
  <div class="image">
    <img [src]="event.imgPath">
  </div>



</div>

