<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="css/styles.css" type="text/css"/>
    <link href="css/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="css/font-awesome.min.css" rel="stylesheet"/>
    <script src="js/jquery.min.js"></script>
    <script src="bower_components/handlebars/handlebars.min.js"></script>
    <script src="js/handlebars-v3.0.3.js"></script>

    

    
</head>
<body>
    <div class="container">
        
        <div class="row ">
            <div class="col-xs-12 col-sm-6 ">
                <div class="row">
                    
                    <div class="col-xs-7 col-md-5 col-md-offset-1">                 
                        
                            <img class="img-rounded img-responsive" src="img/leo2.jpg">
                        
                    </div>
                    <div class="col-xs-5 col-md-6">
                        <table class="table">
                            <tr>
                                <td class="univer_name" style="text-align: center; font-weight: bold;">
                                    Professional Resume
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 20px; font-family: 'Glyphicons Halflings'; text-align: center;  font-weight: bold;"> LEONID
                                        MYRONOV
                                </td>

                            </tr>
                            <tr>
                                <td style="text-align: center;">
                                    Software Developer
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">
                                    QA Engineer
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">
                                    IT Project Manager
                                </td>
                            </tr>
                            
                        </table>

                    </div>
                </div>

<!--                     
                    <div class="media">
                        <div class="media-left media-middle">
                            <img src="img/leo2.jpg" class="media-object img-thumbnail">
                        </div>
                    </div>
                    <div class="media-body">
                        <p> Some text</p>
                    </div>
                </div>
-->
                
                

        
                
    
    
        </div>
            <div class="col-xs-12 col-sm-5 col-xs-offset-1">
                
                <div class="div_section1">
                        <img src="img/section_profile.png" class="section_img"> <span class="section">Profile</span>
                </div>
                
                <div class="profile">
                    <table>
                        <tr>
                            <th>Birthday</th>
                            <td>16 JAN 1976</td>
                        </tr>
                        <tr>
                            <th>Nationality</th>
                            <td>Ukraine, Odessa</td>
                        </tr>
                        <tr>
                            <th><i class="fa fa-phone"></i></th>
                            <td>+380 97 479 61 65</td>
                        </tr>
                        <tr>
                            <th><a href="mailto:leonid.v.mironov@gmail.com"><i class="fa fa-envelope"></i></a></th>
                            <td><a href="mailto:leonid.v.mironov@gmail.com">leonid.v.mironov@gmail.com</a></td>
                        </tr>
                        <tr>
                            <th><i class="fa fa-skype"></i></th>
                            <td>borman11od</td>
                        </tr>
                    </table>
                </div>
<!--                
                <div class="btn-group btn-group-justified" role="group" data-toggle="buttons">
                <div class="btn-group" role="group">
    <button type="button" class="btn btn-primary" id="html">HTML</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-success" id="css">CSS</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-danger" id="js">JS</button>
  </div>
                </div>
                <table style="width:100%;">
                <!--
                <tr>
                    <td class="width30"><button class="btn btn-primary btn-block">HTML</button></td>
                    <td class="width30"><button class="btn btn-success btn-block">CSS</button></td>
                    <td class="width30"><button class="btn btn-primary btn-block">JAVA</button></td>
                    
                    </tr>    
                    -->
<!--
                <tr>
                    <th style="width:33%;"><img id="html_img" src=""  class=" skill_img img-responsive"></th>                        
                    <td style="width:33%;"><img id="css_img" src=""  class=" skill_img img-responsive"></td>
                    <td style="width:33%;"><img id="js_img" src="img/js.png"  class=" skill_img img-responsive"></td>
                </tr>
                
                
                <tr class="h40"></tr>
                    </table>
                    
-->                  
                
            </div>
            
        </div>    
        <div class="row" >
            <div class="col-xs-12 col-sm-6">
                
                
                <div class="div_section">
                        <img src="img/section_profexperiencepng.png" class="section_img"> <span class="section">Professional Experience</span>
                </div>
                <table class="profexperience_table">
                    
                    <!-- row 1 -->
                    <tr> 
                        <td style="padding-right:20px;">
                            2016
                        </td>
                        <td style="width:30px;" ><i class="fa fa-caret-right fa-lg"></i>                  

                        </td>
                        <td><p class="univer_name">S-engineering LLC</p>                  
                        </td>
                            <td style="text-align: center;">
                                <img src="img/exp_logo_SEngineering.jpg" width="60"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <strong>Head of IT Department</strong><br>
                            <ul style="font-size:14px;">
                                <li>local nets, intranets, servers, client-server systems administering</li>
                                <li>implementing of various IT projects</li>
                                <li>designing of Company’s web site</li>
                                <li>implementing of virtual infrastructure</li>
                                <li>project management, negotiations with customers</li>
                            </ul>
                        </td>
                    </tr>       
                    
                     <tr class=""> 
                        <td style="padding-right:20px;">
                            2008
                        </td>
                        <td style="width:30px;" ><i class="fa fa-caret-right fa-lg"></i>                  

                        </td>
                        <td><p class="univer_name">Santa LLC</p>                  
                        </td>
                            <td style="text-align: center;">
                                </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <strong>Head of IT Department</strong><br>
                            <ul style="font-size:14px;">
                                <li>local nets, intranets, servers, client-server systems administering</li>
                                <li>project management, negotiations with customers</li>
                            </ul>
                        </td>
                    </tr>       
                </table>
                
                
                
                
                <div class="div_section" id="education_div">
                        <img src="img/section_education.png" class="section_img"> <span class="section">Education</span>
                    </div>
                <table class="table1" id="education_table" ng-controller="eduCtrl">
                    
                    <tr class="top_line" ng-repeat="c in education_data.education | filter:filtName" >

                            <td class="table_year"> <!-- style="padding-right:20px"-->
                                {{c.year}}
                            </td>
                            <td  class="table_mark"><i class="fa fa-caret-right fa-lg"></i> <!-- style="width:30px;" -->

                            </td>
                            <td  class="table_description" ><p class="univer_name" ng-click="select($event)">{{c.univer_name}}</p>
                                <p class="univer_course"><a target="_blank" href={{c.link}}>{{c.course}}</a><br>
                                {{c.spec}}</p>
                            </td>
                            <td  class="table_image" align="center">
                                <img class="univer_logo" ng-src={{c.univer_logo}} width={{c.univer_logo_width}}>
                            </td>
                        </tr>
                                            
                </table>
                
            </div>   
            
            
                <!-- Skills Section -->
                <div class="col-sm-5 col-xs-8 col-xs-offset-1">
                    
                    <!-- Proficiency Section -->
                    <div class="div_section">
                        <img src="img/section_profskills.png" class="section_img"> <span class="section">Professional Skills</span>
                    </div>
                    
                    <!-- Professional Skills Section -->    
                        <table style="width:100%">
                            
                            <tr>
                                <th style="width:50%"> Routing & Switching</th>
                                <td style="position: relative; top: 10px;">
                                    <div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%; ">90
    <span class="sr-only">90% Complete</span>
  </div>
</div>        
                                </td>
                            </tr>
                            
                            <tr>
                                <th style="width:50%"> OS Administering</th>
                                <td  style="position: relative; top: 10px;">
                                    <div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">90
    <span class="sr-only">90% Complete</span>
  </div>
</div>        
                                </td>
                            </tr>
                            
                            
                            <tr>
                                <th style="width:50%"> Virtualization</th>
                                <td  style="position: relative; top: 10px;">
                                    <div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">70
    <span class="sr-only">70% Complete</span>
  </div>
</div>        
                                </td>
                            </tr>
                            
                           
                            <tr>
                                <th style="width:50%"> OOP</th>
                                <td  style="position: relative; top: 10px;">
                                    <div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">50
    <span class="sr-only">50% Complete</span>
  </div>
</div>        
                                </td>
                            </tr>
                            
                            
                            <tr>
                                <th style="width:50%"> Web</th>
                                <td  style="position: relative; top: 10px;">
                                    <div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">60
    <span class="sr-only">60% Complete</span>
  </div>
</div>        
                                </td>
                            </tr>
                            
                            
                            <tr>
                                <th style="width:50%"> QA</th>
                                <td  style="position: relative; top: 10px;">
                                    <div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">50
    <span class="sr-only">50% Complete</span>
  </div>
</div>        
                                </td>
                            </tr>
                        <!-- End of Professional Skills Section -->    
                        </table>
                        
                    
                    <!-- Proficiency Section -->    
                    <div class="div_section">
                        <p style="padding:0px;"></p>                 
                        <img src="img/section_proficiency.png" class="section_img" ><span class="section"> Proficiency</span>
                    </div>
                <table id="skill_table">
                    
                    <tr class="skills h40" id="cisco_row">
                        <th class="right_align">
                        <button class="btn btn-primary btn-block">Cisco</button></th>                     <!-- <td id="css_skill"></td> -->
                    </tr>
                    
                    <tr class="skills h40" id="ms_row">
                        <th class="right_align">
                        <button class="btn btn-primary btn-block"><i class="fa fa-windows fa-lg"></i></button></th>                     <!-- <td id="css_skill"></td> -->
                    </tr>
                    
                    <tr class="skills h40" id="virtual_row">
                        <th class="right_align">
                        <button class="btn btn-primary btn-block">Hyper-V/ Vmware</button></th>                     <!-- <td id="css_skill"></td> -->
                    </tr>
                    
                    <tr class="skills h40" id="python_row">
                        <th class="right_align">
                        <button class="btn btn-primary btn-block">Python</button></th>                     <!-- <td id="css_skill"></td> -->
                    </tr>
                    
                    <tr class="skills h40" id="sql_row">
                        <th class="right_align">
                        <button class="btn btn-primary btn-block">SQL</button></th>                     <!-- <td id="css_skill"></td> -->
                    </tr>
                    
                    <tr class="skills h40" id="c_row">
                        <th class="right_align">
                        <button class="btn btn-primary btn-block">C/ C++/ C#</button></th>                     <!-- <td id="css_skill"></td> -->
                    </tr>
                    
                    
                    <tr class="skills h40" id="html_row">
                        <th class="right_align">
                        <button class="btn btn-primary btn-block">HTML, CSS, XML</button> </th>                     
                    </tr>    
                                    
                    <tr class="skills h40" id="js_row">
                        <th class=" right_align">
                        <button class="btn btn-primary btn-block">JAVA SCRIPT</button></th>                 <!--    <td id="js_skill"></td> -->
                    </tr>
                <!-- End of Proficiency Section -->    
                </table>    
                    
                    
                    <!-- Personal Skills Section -->
                    <div class="div_section">
                        <img src="img/section_personalskills.png" class="section_img"> <span class="section">Personal Skills</span>
                    </div>
                    
                    <table class="pers_skills_table">
                        <tr>
                            <td><img src="img/scale_95.png" class="pers_skills_img"> </td>
                            <td>Responsible</td>
                            <td><img src="img/scale_90.png" class="pers_skills_img"> </td>
                            <td>Analytical</td>
                        </tr>
                        <tr>
                            <td><img src="img/scale_95.png" class="pers_skills_img"> </td>
                            <td>Self-motivated</td>
                            <td><img src="img/scale_90.png" class="pers_skills_img"> </td>
                            <td>Reasonable</td>
                        </tr>
                        
                    <!-- Personal Skills Section -->
                    </table>
                    
                    
                    
                    <!-- Certificates Section -->
                    <div class="div_section">
                        <img src="img/section_sertificates.png" class="section_img"> <span class="section">Certificates</span>
                    </div>
                    
                    
                    <table class="cert_table">
                        <tr>
                            <td><img src="img/univer_logo_cisco.png" width="120" ></td>
                            <td><img src="img/CCNA-Certification-Logo.jpg" width="160"></td>
                            <td><img src="img/univer_logo_wg.png" width="120"></td>
                        </tr>
                        
                    <!-- End of Certificates Section -->
                    </table>
                    
                    
                    
                    <!-- End of Skills Section -->    
                    </div>
                
                    
                    
            
                <!-- end of row div -->
                </div>
        
            <!-- end of container div -->
            </div>

    
        <footer class="row-footer">
            <div class="container">
                <div class="row">
                    
                    <div class="col-xs-12 col-md-5">
                    
                    <div class="div_section">
                        <img src="img/section_interests.png" class="section_img"> <span class="section">Interests</span>
                    </div>
                    <table class="interests_table">
                        <tr>
                            <td><img src="img/hobby1.png" class="interests_table_img"> </td>
                            <td><img src="img/hobby2.png" class="interests_table_img"> </td>
                            <td><img src="img/hobby3.png" class="interests_table_img"> </td>
                            <td><img src="img/hobby4.png" class="interests_table_img"> </td>
                            <td><img src="img/hobby5.png" class="interests_table_img"> </td>
                            <td><img src="img/hobby6.png" class="interests_table_img"> </td>
                            <td><img src="img/hobby7.png" class="interests_table_img"> </td>
                            
                        </tr>
                    </table>
                    </div>
                    <div class="col-xs-12 col-md-4 col-md-offset-3">
                        
                            <table align="right" class="lang_table">
                                <tr>
                                    <td><img src="img/lang_ua.png" class="lang_table_img" width="60px"> </td>
                                    <td><img src="img/lang_uk.png"  class="lang_table_img"  width="40px"> </td>
                                    <td><img src="img/lang_ru.png"  class="lang_table_img" width="55px"> </td>
                                </tr>
                                <tr>
                                    <td>Native</td>
                                    <td>Intermediate</td>
                                    <td>Native</td>
                                </tr>
                                </table>
                        
                        
                             <table align="right" class="li_table">
                                
                                <tr>
                                    <td><a href="http://ua.linkedin.com/in/leonidmyronov"> <img src="img/in_b.png" width="30"> </a></td>
                                    <td><a href="http://ua.linkedin.com/in/leonidmyronov"> ua.linkedin.com/in/leonidmyronov</a> </td>
                                </tr>
                            </table>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            
        <!-- end of footer -->
        </footer>    



            
        
               
<!--
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70618612-1', 'auto');
  ga('send', 'pageview');

</script>
-->
<script src="bower_components/angular/angular.min.js"></script>
<script src="js/myscript.js"></script>   
<script src="js/myangular.js"></script>   

<!-- table example

                    <tr> 
                        <td style="padding-right:20px">
                            2015
                        </td>
                        <td style="width:30px;" ><i class="fa fa-caret-right fa-lg"></i>                  

                        </td>
                        <td><p class="univer_name">University of Alberta</p>                  
                        </td>
                            <td align="center">
                                <img src="img/univer_logo_alberta.png" width="50"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="univer_course">
                            <a target="_blank" href="https://www.coursera.org/learn/software-processes-and-agile-practices">Software Processes and Agile Practices.</a><br>
                            The Software Product Management Specialization
                        </td>
                    </tr>     

-->

<!-- Template for Handlebars

<script id="education-template" type="text/x-handlebars-template">
    {{#each education}}  
      <tr class="{{#unless @first}}top_line{{/unless}}">
          
                         <td style="padding-right:20px">
                            {{year}}
                        </td>
                        <td style="width:30px;" >
                            <i class="fa fa-caret-right fa-lg"></i>   
                        </td>
                        <td>
                            <p class="univer_name">{{univer_name}} </p>
                        </td>
                        <td style="text-align: center;">
                            {{#if univer_logo}}
                            <img id="{{univer_logo_id}}" src="{{univer_logo}}" width="{{univer_logo_width}}">
                            {{/if}}
                        </td>
                    </tr>
                                
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="univer_course">
                            {{#if link}}<a target="_blank" href="{{link}}">{{/if}}{{course}}{{#if link}}</a>{{/if}}
                            {{#if spec}}
                            <br>{{spec}}
                            {{/if}}
                        </td>
                    </tr> 
    {{/each}}
</script>

-->  

  
<script type="text/javascript">

/*    
javascript code to fill the Handlebars template 
    // grab our template code from the DOM
    var source = $("#education-template").html();
    //alert(source);

    // compile the template so we can use it
    var template = Handlebars.compile(source);

    // create some data
    
    // generate HTML from the data
    var html = template(education_data);

    // add the HTML to the content div
    $('#education_table').html(html);
-->
*/

    
//js for education table with angular.js
/*
    var course = {
        year:"2015",
        univer_name:"University of Alberta",
        univer_logo: "img/univer_logo_alberta.png",
        univer_logo_id: "alberta",
        univer_logo_width: 50,
        course:"Software Processes and Agile Practices.",
        link : "https://www.coursera.org/learn/software-processes-and-agile-practices",
        spec:"The Software Product Management Specialization"
    };
*/
   
    

</script>





</body>



</html>