<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-profile></app-profile>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-xs-12">
      <app-prof-experience></app-prof-experience>
      <app-education></app-education>
    </div>
    <div class="col-md-6 col-xs-12">
      <app-prof-skills></app-prof-skills>
      <app-personal-skills></app-personal-skills> 
      <app-portfolio></app-portfolio>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <app-hobbies></app-hobbies>
    </div>
  </div>


</div>
